<nav>
  <div class="nav-wrapper">
    <a routerLink="/inicio" class="brand-logo">Logo</a>
    <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/administracion/clientes">Cliente</a></li>
      <li><a routerLink="/administracion/vehiculos">Vehiculos</a></li>
      <li><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
      <li><a routerLink="/seguridad/identificar-usuario">Iniciar Sesión</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a routerLink="/administracion/clientes">Cliente</a></li>
  <li><a routerLink="/administracion/vehiculos">Vehiculos</a></li>
  <li><a routerLink="/seguridad/cambio-clave">Cambiar Clave</a></li>
  <li><a routerLink="/seguridad/identificar-usuaio">Iniciar Sesión</a></li>
</ul>


